.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 162px;

  flex-wrap: wrap;
}
.logo {
  background: url(../../img/logo.png) no-repeat;
  background-size: contain;
  min-width: 315px;
  min-height: 90px;
}
.list {
  display: flex;
  gap: 34px;
  text-align: center;
  color: white;
  list-style-type: none;
  font-family: "MuseoSansCyrlW03-300";
  font-size: 16px;
  line-height: 22px;
  padding-top: 12px;
}
.list li {
  min-width: 110px;
  min-height: 23px;
  text-align: center;
}
.list li:hover {
  background-color: #3d3d3d;
  cursor: pointer;
  border-bottom: 1px solid white;
  opacity: 0.7;
}

@media (max-width: 1185px) {
  .header {
    gap: 0;
  }
}

@media (max-width: 913px) {
  .header {
    display: block;
    margin-bottom: 110px;
  }
}
@media (max-width: 909px) {
  .header {
    margin-bottom: 169px;
  }
}
@media (max-width: 747px) {
  .header {
    gap: 160px;
    display: flex;
    flex-direction: column;
  }
  .list {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 40px;
  }
}
@media (max-width: 363px) {
  .logo {
    width: 100px;
    height: 40px;
  }
}
